.main {
  margin: auto;
  width: 50%;
  text-align: center;
}

.boaster {
  border: 1px solid black;
  text-align: center;
}

.boastform {
  display: inline-block;
}

.roastform {
  margin-left: 250px;
  display: inline-block;
}